@media screen and (max-width: 1024px) {
  .navbar {
    display: none;
  }
  .logo {
    margin: 0 auto;
  }
  .logo img {
    width: 90px;
    height: 35px;
  }
  .profile {
    display: none;
  }
  /* .favorite {
    display: none;
  } */
  .burgerMenuIcon {
    display: block;
  }
  .header {
    height: 64px;
  }
  .heroSwiper {
    height: 500px;
  }
  .swiperImage {
    height: 500px;
  }
  .swiperImage img {
    object-fit: cover;
  }

  .swiperTitle h3:nth-of-type(1) {
    font-size: 16px;
  }
  .swiperTitle h3:nth-of-type(2) {
    font-size: 45px;
  }
  .swiperTitle h3:nth-of-type(3) {
    font-size: 20px;
  }
  .coffeeItem {
    height: 300px;
  }
  .coffeeItem h3 {
    font-size: 25px;
  }
  .coffeeItem p {
    font-size: 15px;
  }
  .cartIcon {
    margin-right: 20px;
  }
  .discound {
    right: -80px;
  }
  .basketActive::after {
    display: none;
  }
  .totalItems {
    display: block;
  }
  .quickViewProduct {
    width: 80%;
  }
  .lastBlogs {
    grid-template-columns: repeat(1, 0.8fr);
    justify-content: center;
    text-align: center;
  }
}

/* Tablet */

@media screen and (max-width: 768px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
  .productIcon {
    display: none;
  }
  .packagetImage {
    width: 535px;
  }
  .packagetImage img {
    width: 100%;
  }
  .packagetContent h1 {
    font-size: 30px;
  }
  .packagetContent li {
    font-size: 15px;
    line-height: 35px;
  }
  .detailImage {
    width: 418px;
    height: 418px;
  }
  .ProductDetail {
    gap: 35px;
  }
  .subscribe {
    display: block;
  }
  .subInput form {
    display: block;
    width: 80%;
  }
  .subInput form input {
    width: 100%;
  }
  .subInput form button {
    margin-top: 15px;
    width: 100%;
  }
  .lastBlogs {
    grid-template-columns: repeat(1, 0.6fr);
    justify-content: center;
    text-align: center;
  }
  .detailImage img {
    width: 325px !important;
    height: 325px !important;
  }
  .newSteller ul {
    flex-wrap: wrap;
  }
  .newSteller ul li {
    width: 100%;
  }
  .newSteller input {
    width: 100%;
  }
  .subIn {
    margin: 15px 0;
  }
  .newSteller button {
    top: 150%;
    left: -50%;
    width: 100%;
    margin: 10px 0;
  }
  .newSteller ul li:nth-of-type(1) > div:nth-of-type(1) {
    display: none;
  }
  .newSteller ul li:nth-of-type(1) div h3 {
    border: none;
  }
  .newSteller .container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .newSteller li {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .blogList {
    margin: 0;
  }
}

/* Mobile L */

@media screen and (max-width: 428px) {
  .swiperTitle h3:nth-of-type(2) {
    font-size: 30px;
  }
  .swiperTitle h3:nth-of-type(3) {
    font-size: 19px;
  }
  .swiperTitle {
    padding: 0 20px;
  }
  .allServies {
    display: none;
  }
  .allServiesSwiper {
    display: block !important;
  }
  .coffeesRow {
    grid-template-columns: repeat(1, 1fr);
  }
  .ham {
    width: 60px;
  }
  .swiper {
    z-index: 0 !important;
  }
  .burgerMenu {
    width: 240px;
  }
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
  .productDetails h3 {
    padding-bottom: 1px;
  }
  .miniCart {
    width: 290px;
  }
  .basketDetails h3 {
    font-size: 18px;
  }
  .discound {
    right: -60px;
  }
  .packaged {
    display: block;
  }
  .packagetImage {
    width: 100%;
  }
  .packagetImage img {
    width: 100%;
  }
  .ProductDetail {
    display: block;
  }
  .detailContent {
    margin-top: 110px;
  }
  .featuredServices {
    grid-template-columns: repeat(1, 1fr);
  }
  .detailImage {
    width: 395px;
    height: 395px;
  }
  .footerRow {
    align-items: center;
    text-align: center;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
  }
  .footerAbout > ul {
    text-align: center;
  }
  .socialMedia > ul {
    justify-content: center;
  }
  .footerAbout h4::before {
    left: 50%;
    transform: translateX(-50%);
  }
  .qualityImage {
    display: none;
  }
  .accordion {
    width: 100%;
  }
  .detailImage img {
    width: 325px !important;
    height: 325px !important;
  }
  .otherImg img {
    max-width: 90px;
    max-height: 90px;
    display: block;
  }
  .js-image-zoom__zoomed-area {
    display: none !important;
  }
  .about {
    grid-template-columns: repeat(1, 1fr);
  }
  .productDescription.active {
    height: 900px;
  }
  .newSteller ul {
    flex-wrap: wrap;
  }
  .newSteller ul li {
    width: 100%;
  }
  .newSteller input {
    width: 100%;
  }
  .subIn {
    margin: 15px 0;
  }
  .newSteller button {
    top: 150%;
    left: -50%;
    width: 100%;
    margin: 10px 0;
  }
  .newSteller ul li:nth-of-type(1) div {
    margin: 10px 0;
    border: none;
  }
  .newSteller ul li:nth-of-type(1) div h3 {
    border: none;
  }
  .aboutServies .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .blog {
    display: block;
    margin-bottom: 280px;
  }
  .blogList {
    margin: 0;
  }
  .blogImage {
    width: 100%;
  }
  .blogInfo {
    width: 100%;
  }
  .addToComments form {
    width: 100%;
  }
  .addToComments input,
  .addToComments textarea {
    width: 100%;
  }
}

/* Mobile M */

@media screen and (max-width: 375px) {
  .swiperTitle h3:nth-of-type(2) {
    font-size: 30px;
  }
  .swiperTitle h3:nth-of-type(3) {
    font-size: 19px;
  }
  .swiperTitle {
    padding: 0 20px;
  }
  .allServies {
    display: none;
  }
  .allServiesSwiper {
    display: block !important;
  }
  .coffeesRow {
    grid-template-columns: repeat(1, 1fr);
  }
  .ham {
    width: 60px;
  }
  .swiper {
    z-index: 0 !important;
  }
  .burgerMenu {
    width: 240px;
  }
  .miniCart {
    width: 260px;
  }
  .basketDetails {
    font-size: 14px;
  }
  .discound {
    right: -50px;
  }
  .detailImage {
    width: 350px;
    height: 350px;
  }
  .heroSwiperSecond .swiperTitle {
    left: 0;
  }
  .lastBlog {
    /* width: 95%; */
  }
  .blogHeading {
    margin: 70px 0 0 0;
  }
  .lastBlogPicture {
    min-width: 280px;
  }
}

/* Mobile S */

@media screen and (max-width: 320px) {
  .discound {
    top: 10px;
    right: -48px;
  }
  .detailImage {
    width: 290px;
    height: 290px;
  }
  .lastBlogs {
    grid-template-columns: repeat(1, 0.5fr);
    justify-content: center;
    text-align: center;
  }
}
